@import "../../styles/color.scss";

.add_idol {
  &__container {
    position: relative;
    &.big {
      min-height: 183px;
      width: 128px;
    }
    &.small {
      min-height: 150px;
      width: 98px;
    }
  }

  &_image_container {
    position: relative; //before 요소의 기준점
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 128px;
    margin-bottom: 8px;
    border: 2px solid $brand-orange;
    border-radius: 50%;

    //이미지 컨테이너 위에 원형 오버레이 생성하기.
    &::before {
      content: ""; //가상 요소 생성
      position: absolute;
      top: 10;
      left: 10;
      width: 115px;
      height: 115px;
      background: linear-gradient(to bottom, $brand-orange, $brand-pink);
      opacity: 0.5;
      border-radius: 50%;
      object-fit: cover;
      transition: opacity 0.3s ease;
      pointer-events: none; // 이미지 클릭 방해 제거(체크 표시때문에 이미지가 안눌림)
    }
  }

  &_image_box {
    width: 128px;
    height: 128px;
    margin-bottom: 8px;
    border: 2px solid $brand-orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &.big {
      width: 128px;
      height: 128px;
    }
    &.small {
      width: 100px;
      height: 100px;
    }
  }
  &_image {
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    &.big {
      width: 115px;
      height: 115px;
    }
    &.small {
      width: 86.14px;
      height: 86.14px;
    }
  }
  &_image_clicked {
    border-radius: 50%;
    object-fit: cover;
    width: 115px;
    height: 115px;
    cursor: pointer;
  }

  &_p__container {
    text-align: center;
    margin-top: 8px;
  }
  &_name {
    font-weight: 700;
    font-size: 16px;
    color: $white-200;
  }
  &_group {
    font-weight: 400;
    font-size: 14px;
    color: rgba($white, 0.6);
  }
}

.delete_icon {
  width: 31.43px;
  height: 31.43px;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.click_icon {
  position: absolute;
  width: 52.27px;
  height: 52.27px;
  pointer-events: none; // 아이콘이 클릭을 방해하지 않도록 함
}
