@use "../../../styles/color.scss" as *;

//idolChart에서 사용하는 scss
.chartContents {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
  width: 477px;
  height: 70px;
  cursor: pointer;

  padding: 40px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.chartInfo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-grow: 1;
  gap: 10px;
  .rank {
    color: $brand-orange;
  }
  .miniChart {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .vote {
    color: rgba(255, 255, 255, 0.6);
  }
}

.chartGroup {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.chartVoteNum {
  display: flex;
  justify-content: flex-end;
  color: rgba(255, 255, 255, 0.6);
}

.inputBtn {
  display: none;
}

.click_icon {
  position: absolute;
  top: 15px;
  left: 13px;
  width: 40px;
  height: 40px;

  pointer-events: none; // 아이콘이 클릭을 방해하지 않도록 함
}

.add_idol {
  &_image_container {
    position: relative; //before 요소의 기준점
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-bottom: 8px;

    //이미지 컨테이너 위에 원형 오버레이 생성하기.
    &::before {
      content: ""; //가상 요소 생성
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, $brand-orange, $brand-pink);
      opacity: 0; // 기본 상태는 투명
      border-radius: 50%;
      object-fit: cover;
      pointer-events: none; // 이미지 클릭 방해 제거
      transition: opacity 0.3s ease; // 부드러운 전환 효과 추가// 이미지 클릭 방해 제거(체크 표시때문에 이미지가 안눌림)
    }
    &.clicked::before {
      opacity: 0.5; // 클릭 시 배경 보이기
    }
  }

  &_image {
    width: 60px;
    height: 60px;
    top: 5px;
    left: 5px;
    gap: 8px;
    border-radius: 40px;
    opacity: 0px;
    object-fit: cover;
    border: 2px solid $brand-pink;
  }
  &_image_clicked {
    border-radius: 50%;
    object-fit: cover;
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 767px) {
  .chartContents {
    max-width: 390px;
  }
}
