@import "../../styles/color.scss";

.modalButton{
  width: 295px;
  height: 42px;
  font-size: 14px;
  font-weight: 700;
}

.credit_Img{
  width: 113px;
  height: 113px;
}

.modalContainer{
  width: 295px;
  height: 243px;
  display: grid;
  justify-items: center;
}

.modalMessage{
  font-size : 16px;
  font-weight: 500;
}


.text_color{
  color : $brand-orange;
}