@use "../../styles/color.scss" as *;

//monthlist에서 사용중인 scss
.chartNav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 1200px;
  h2 {
    margin: 80px 0 0 0;
  }
}

.chartBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 80px 0 0 0;
  padding: 8px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  margin: 0;
  width: 600px;
  height: 42px;

  background-color: $black-200;
  color: $gray-warm;

  border-style: none;

  &:hover {
    transform: translateY(-5px);
    opacity: rgba(255, 255, 255, 0.8);
  }
}

.activeTab {
  background-color: rgba(255, 255, 255, 0.1);
  color: $white;
  border-bottom: 1px solid #ffffff;
}

.LankingChart {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  list-style: none;
}

.moreBtn {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: center;
  padding-top: 51px;
}

.voteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
  padding: 8px;
}
